<% if current_user %>
<%= current_user.inspect %>
  <div>Здравствуйте, <%= current_user.name %> </div>
  <%= image_tag(current_user.image) %>


  <% @vk = VkontakteApi::Client.new %>
  <% @friends = @vk.friends.get(user_ids: current_user.uid, count: "5", access_token: current_user.token, v: "5.1") %>
  <% @friends.items.each do |friend| %>
        <% @friend_info = @vk.users.get(user_ids: friend, count: "5", access_token: current_user.token, v: "5.1") %>

        <%= @friend_info.inspect %>
        <% @friend_info.each do |item| %>
            <%= item.inspect %>
        <% end %>
  <% end %>

<% end %>

<% unless current_user %>
  <%= link_to "Вход через ВКонтакте", user_vkontakte_omniauth_authorize_path %>
<% else %>
  <%= link_to "Выход", destroy_user_session_path, method: :delete %>
<% end %>