<% if current_user %>
  <div class="personal">Здравствуйте, <%= current_user.name %>
    <%= image_tag(current_user.image) %>
  </div>


  <% @vk = VkontakteApi::Client.new %>
  <% @friends = @vk.friends.get(user_ids: current_user.uid, count: "5", access_token: current_user.token, v: "5.1") %>
  <% @friends.items.each do |friend| %>
        <% @friend_info = @vk.users.get(user_ids: friend, fields: "photo_50", count: "5", access_token: current_user.token, v: "5.1") %>
        <% @friend_info.each do |item| %>
            <% first_name = item.first_name %>
            <% last_name = item.last_name %>
            <% image = item.photo_50 %>
            <div class="friends">
              <span class="first">
                <%= first_name %>
              </span>
              <span class="last">
                <%= last_name %>
              </span>
              <%= image_tag(image) %>
            </div>

        <% end %>
  <% end %>

<% end %>

<% unless current_user %>
  <%= link_to "Вход через ВКонтакте", user_vkontakte_omniauth_authorize_path %>
<% else %>
  <%= link_to "Выход", destroy_user_session_path, method: :delete %>
<% end %>