<% if current_user %>
<%= current_user.inspect %>
  <div>Здравствуйте, <%= current_user.name %> </div>
  <%= image_tag(current_user.image) %>


  <%  @vk = VkontakteApi::Client.new %>
  <%  @friends = @vk.friends.get(user_ids: @user.uid, count: "5") %>
  <% @friends.items.each do |friend| %>
        <%= friend.first_name %>
  <% end %>

<% end %>

<% unless current_user %>
  <%= link_to "Вход через ВКонтакте", user_vkontakte_omniauth_authorize_path %>
<% else %>
  <%= link_to "Выход", destroy_user_session_path, method: :delete %>
<% end %>